*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contenedor{
    display: grid;
    grid-template-areas:
    "nav nav nav"
    "contenido contenido botones-redes"
    "footer footer footer";
    grid-template-rows: 10vh 80vh 10vh; 
    grid-template-columns:20% 75% 5%;
    background-color: #232227;
    font-family: roboto;
}

.nav{
    grid-area: nav;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.logo{
    grid-area: logo;
}
.logo img{
    width: 3rem;
}

.navegador{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 900;
    
}

.navegador li a{
    margin: 1rem;
    text-decoration: none;
    color: white;
}

.navegador li a:hover{
    color: #ff626d;
}

.contenido{
    grid-area: contenido;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    color: white;
}

.contenido_img{
    width: 100%;
}

.contenido_img img{
    width: 100%;
    border-radius: 1rem;
}

.texto_contenido{
    padding: 4em;
    width: 70%;
    color: white;
}
.titulo{
    font-size: 4em;
    font-weight: 900;
    color: #ff626d;
    padding-bottom: 1rem;
}
.texto_contenido p{
    line-height: 1.2em;
}

.texto_contenido ul{
    list-style: none;
    padding: 2rem 0 0 2rem;
    text-decoration: none;
}

.texto_contenido button{
    margin-top: 1rem;
    background-color: #ff626d;
    padding: 1rem;
    border-radius: 1.1rem;
    font-family: Roboto;
    font-weight: 900;
    color: white;
    border: none;
}

.texto_contenido button:hover{
    background-color: white;
    color: #ff626d;
    border: #ff626d;
}

.botones-redes{
    grid-area: botones-redes;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.iconos a{
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
}

.iconos a:hover{
    color: #ff626d;
}

footer{
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/* css - Sobre Mí */

.texto_sobremi{
    width: 80%;
    padding: 4rem;
    line-height: 1.2rem;
}

.sobremi_img{
    width: 40%;
}

.sobremi_img img{
    border-radius: 2rem;
}

.texto_sobremi ol{
    padding: 2rem;
    text-decoration: none;
    text-decoration-style: wavy;
}

/* css - SKILLS */
.contenido_skills{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 3rem;
}

#lista-skills{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    margin: 3rem;

}

#lista-skills ul{
    width: 40%;
}
#lista-skills ul li{
    list-style-type:square;
}

/* css - Portafolio */

.carrusel_imagenes{
    width: 65%;
    border-radius: 2rem;
}

/* contacto */ 

.form__texto{
    width: 40%;
}

.btn-primary{
    background-color: #ff626d;
    font-family: Roboto;
    font-weight: 900;
    border-radius: 1rem;
}

.btn-primary:hover{
    background-color: white;
    color: #ff626d;
}

/* TABLETA */ 

@media (max-width:768px) {
     /* INICIO */

    .contenido{
    grid-area: contenido;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
    color: white;
    }

    .navegador li a{
    font-size: 11px;
    }

    .contenido_img{
    display: flex;
    justify-content: center;
    }
    .contenido_img img{
        width: 80%;
    }

    .texto_contenido{
    padding: 0.5rem;
    font-size: 0.7em;
    width: 80%;
    }

    .titulo{
    font-size: 2em;
    padding-bottom: 0.2rem;
    }

    .texto_contenido ul{
    list-style: none;
    padding: 1rem 0 0 1rem;
    text-decoration: none;
    }
    
    .texto_contenido button{
    padding: 0.5rem;
    }

     /* SOBRE MÍ */

    .contenedor__text{
    display: flex;
    justify-content: center;
    }
    .texto_sobremi{
    padding: 0.5rem;
    font-size: 0.7em;
    width: 80%;
    }

    .texto_sobremi ol{
        margin-left: 1rem;
        padding: 0.5rem;
        list-style-type:circle;
    }
    
    .sobremi_img{
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .sobremi_img img{
        width: 80%;
    }

     /* SKILLS */

    #lista-skills{
    display: flex;
    flex-direction: column;
    }

    #lista-skills ul{
        width: 80%;
    }

     /* PORTAFOLIO */

    .carrusel_imagenes{
        width: 100%;
        border-radius: 1rem;
    }

     /* CONTACTO */
    
    .text__form{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    .form__texto{
        width: 80%;
    }
    
    .row{
        width: 80%;
    }
}





/* MOVIL */ 

@media (max-width:576px) {

    .contenido{
        background-color: #ff626d;
    }
    

}